.panda-bg-info{
    background-color: #fceae8;
}
.catagories img{
   width: 100px;   
}
.panda-btn-info{
    background-color: #ff438e;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
}
.price{
    color:#ff438e;
}
.bg-bag{
    background-color: #da70d6;
}